body {
    background-color: #fff;
}

a {
    text-decoration: none;
}

button:focus {
    outline: none;
}


.header {
    position: fixed;
    width: 100vw;
    z-index: 5;
    height: 60px;
    background-color: #C41E3A;
    box-shadow: 0 0 10px 0px black;
    transition: box-shadow .2s ease-in-out;
}

.headerSideRight {
    position: absolute;
    right: 15px;
    top: 10px;
}


.mainContent {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.headerTitle {
    position: absolute;
    top: 5px;
    font-size: 2em;
    color: white;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    left: 64px;
}

.headerTitle:hover {
    color: white;
}

.headerNavLinks a:hover {
    color: gray;
}

.btncustom {
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-top: 5px;
}

.btncustom:hover {
    color: black;
}

.search {
    z-index: 1;
    position: fixed;
    margin-top: 10px;
    margin-left: 70px;
    width: 50vw;
}

.labelHall i {
    color: white;
}

.centerIconGrad {
    position: absolute;
    margin-top: -70%;
    margin-left: -24%;
}


.hoverDialog {
    margin-top: 30%;
    margin-left: -200%;
    height: fit-content;
    width: 500%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 30px -5px black;
    transition: box-shadow .2s ease-in-out;
}

.overlay {
    font-size: 25px;
    position: absolute;
    transition: opacity .5s ease;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    top: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
}

.waypoint:hover .overlay{
    opacity: 1.0;
    visibility: visible;
}

.waypoint {
    position: absolute;
    border-radius: 40px;
    border: solid #AC2B37;
    background-color: transparent;
    opacity: .8;
    transition: opacity 0.2s ease;
    z-index: 0;
    top: -30px;
    left: -30px;
}

.waypoint-image {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

#waypoint-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: white;
    border: solid #AC2B37 2px;
    color: #AC2B37;
    border-radius: 100%;
    padding: 2px;
}

.waypoint:hover {
    z-index: 1;
    opacity: 1.0;
}

.locationAnno img {
    border-radius: 50%;
    background-color: #C41E3A;
    height: 80px;
    width: 80px;
}

.labelHall {
    border-radius: 50%;
    background-color: #C41E3A;
    height: 80px;
    width: 80px;
}

a:hover {
    text-decoration: none;
}

.profileImage img {
    margin-top: 0;
    height: 120px;
    width: 100%;
    background-color: gray;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.placeName {
    font-size: 0.7em;
    padding: 10px;
    color: black;
    width: 100%;
    margin: 0;
    text-decoration: none;
}

.headerProfileImage {
    position: absolute;
    top: -3px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #dddddf;
}

.headerProfileImage img {
    width: 64%;
    height: 64%;
    border-radius: 50%;
}

.eventBGI {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: -200px;
    max-height: 400px;
}
.overlayEvent{
    top: 0;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

.eventBGI img {
    align-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eventDesc {
    top: 60%;
    padding: 40px 40px 0 75px;
    color: black;
    font-size: 1.2em;
    font-weight: 200;
    margin-bottom: 10px;
}

.eventTitle {
    color: mintcream;
    margin-top: 5%;
    font-size: 2.9em;
    font-weight: 100;
}

.eventAttendees {
    background-color: #C41E3A;
    padding: 0 5px 5px 5px;
    color: mintcream;
    border-style: ridge;
    border-color: mintcream;
    border-width: 2px;
    border-radius: 15px;
    margin: 0 40px 0 45px;
    opacity: 0.75;
}

#loader-wrapper{
    transition: 0.5s ease;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: #AC2B37;
    z-index: 9999;
    -webkit-animation: fadeOut 0s;
    animation: fadeOut 0s;
    visibility: hidden;
}

#loading {
    box-shadow: black 0px 0px 40px -10px;
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1.0;
    }
    80% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.0;
        visibility: hidden;
    }
}

.attendQuestion {
    margin-top: 40px;
}

.attendingButton {
    padding: 20px;
    background-color: #C41E3A;
    color: mintcream;
    border: 3px double mintcream;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
    opacity: 0.75;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 6px #999;
}

.attendingButton:hover {
    transition: 0.4s;
    color: mintcream;
    border: 3px double #ff8888;
    opacity: 1;
}

.attendingButton:active {
    transition: 0.1s;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}


.cardMod {
    border-radius: 25px;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    background-color: white;
    position: relative;
    text-align: center;
    overflow: hidden;
 }

.cardModImg img {
    position: absolute;
    min-height: 200px;
    width: 100%;
    height: 100%;
}

.cardMod-title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  font-size: 1.6em;
  text-align: center;
}
    
.cardMod-text {
  position: absolute;
  bottom: 0.02%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  font-family: 'Thasadith', sans-serif;
  font-style: italic;

}
.cardMod-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  transform: translate(-50%, -50%);
}

.col-sm-4 {
    min-width: 100px;
}